 @font-face {
    font-family: my-cool-font;
    src:url(../form/Norse-Bold.otf)
 }
 
 body {
    height: 100%;
    width: 100%;
    display: flex;
 }


 .bg-image {
    height: 100%;
    width: 30%;
    position: absolute;
 }

 .banner {
    width: 30%;
    height: 20%;
    background-color: black;
    opacity: 0.6;
    top: 8rem;
    position:absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 1;
    
 }

 .odin {
    height: 100%;
 }

 .odin-text {
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: my-cool-font, sans-serif;
    font-size: 120px;
 }

 footer {
    position: absolute;
    color: white;
    text-align: center;
    width: 30%;
    bottom: 20px;
 }
 
 .background {
    width: 30%;
    height: 100vh;
    display: flex;
 }

 a {
    text-decoration: underline;
    color: white;
 }

 .main {
   width: 70%;
   height: 100vh;
   
   display: flex;
   flex-direction: column;
 }

.top, .bottom {
   flex-basis: 0;
   flex-grow: 1.5;
   background-color: beige;
}

.form {
   flex-grow: 1;
   box-shadow: 0px 10px 5px black
}

.top {
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: 900;
   font-size: 36px;
}

.textbox {
   padding: 40px 500px 40px 40px;  
    
}

.disclaimer {
   padding-bottom: 0px;
   margin: 0px;
}

.sign-up {
   margin-top: 0px;
}